body {
    background-color: transparent;
}

h1 {
    color: rgb(89, 33, 141) ;
    font-family: Geneva, Tahoma, sans-serif;   
}

h2 {
    color: rgb(89, 33, 141) ;
    font-family: Geneva, Tahoma, sans-serif;   
}

h3 {
    color: rgb(89, 33, 141) ;
    font-family: Geneva, Tahoma, sans-serif;   
}

.header {
    max-width: 980px;
    margin: auto;
}

.main {
    max-width: 980px;
    margin: auto;
}

.footer {
    max-width: 980px;
    margin: auto;
}

.marked {
    color: chocolate;
}

.code-txt {
    padding: 10px;
    background-color: rgba(89, 33, 141, 0.05);
}

#myvar {
    border: solid chocolate 2px ;
}

* {
    box-sizing: border-box;
}
