body {
    background-color: transparent;
}

h1 {
    color: darkblue ;
    font-family: Geneva, Tahoma, sans-serif;   
}

h2 {
    color: rgb(89, 33, 141) ;
    font-family: Geneva, Tahoma, sans-serif;   
}

h3 {
    color: rgb(89, 33, 141) ;
    font-family: Geneva, Tahoma, sans-serif;   
}

.marked {
    color: chocolate;
}

#myvar {
    border: solid chocolate 2px ;
}

* {
    box-sizing: border-box;
}
