* {
    box-sizing: border-box;
}
html {
    background-color: rgb(12, 6, 19) ;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: transparent ;
}
h1 {
    padding: 15px ;
    margin: 0px ;
    text-align: center ;
    font-family: Tahoma, Arial, Geneva, sans-serif ;
    color: white ;
    background-color: rgb(89, 33, 141) ;
}
h2 {
    font-family: Tahoma, Arial, Geneva, sans-serif ;
    color: rgb(89, 33, 141) ;
}
h3 {
    font-family: Tahoma, Arial, Geneva, sans-serif ;   
    color: rgb(89, 33, 141) ;
}
a {
    text-decoration: none ;
    color: rgb(80, 30, 128) ;
    }
    a:visited {
    color: rgb(80, 30, 128) ;
    } 
    a:hover {
    text-decoration: underline ;
    color: rgb(80, 30, 128) ;
}
.header {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -16px;
}
.header-decor {
    max-width: 960px ;
    min-height: 100px ;
    margin-top: 0px;
    margin-bottom: -40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(89, 33, 141) ;
}

.cv-photo {
    max-width: 960px ;
    min-height: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white ;
}
.rounded {
    position: relative ;
    max-width: 960px ;
    top: -50px ;
    z-index: 9999 ;
    margin-bottom: -30px ;
    border-radius: 20px ;
    border: 5px solid rgb(146, 102, 187) ;
    background-color: white ;
}
.plain-txt {
    max-width: 960px ;
    margin-left: auto ;
    margin-right: auto ;
    background-color: white;
}
.nav {
    max-width: 254px ;
    margin-left: auto ;
    margin-right: auto ;
    text-align: left ;
    font-family: Tahoma, Arial, Geneva, sans-serif ;
    border-radius: 20px ;
    border: 5px solid rgb(146, 102, 187) ;
    background-color: rgba(89, 33, 141, 0.05) ;
}
.main {
    max-width: 960px;
    padding: 20px;
    margin: auto;
    font-family: Tahoma, Arial, Geneva, sans-serif ;
    line-height: 1.5;
    background-color: white;
}
.code-txt {
    padding: 15px;
    overflow-x: auto;
    background-color: rgba(89, 33, 141, 0.05);
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: auto;
    font-family: Tahoma, Arial, Geneva, sans-serif ;
    color: white ;
    background-color: rgb(49, 17, 78) ;
}

#myvar {
    border: solid chocolate 2px ;
}
